name: Python linting
on:
  workflow_call:
    inputs:
      black:
        default: true
        description: Run black
        required: false
        type: boolean
      django-upgrade:
        default: true
        description: Run django-upgrade
        required: false
        type: boolean
      flake8:
        default: true
        description: Run flake8
        required: false
        type: boolean
      isort:
        default: true
        description: Run isort
        required: false
        type: boolean
      mypy:
        default: true
        description: Run mypy
        required: false
        type: boolean
      pyright:
        default: false
        description: Run pyright
        required: false
        type: boolean
      pyupgrade:
        default: true
        description: Run pyupgrade
        required: false
        type: boolean
      reorder-python-imports:
        default: true
        description: Run reorder-python-imports
        required: false
        type: boolean
      ruff:
        default: false
        description: Run ruff
        required: false
        type: boolean

      django-version:
        default: "4.2"
        required: false
        type: string
      mypy-dot-env:
        required: false
        type: string
      system-dependencies:
        required: false
        type: string
      package-manager:
        default: pipenv
        description: Package manager to use (pip, pipenv, poetry or uv)
        required: false
        type: string
      python-version:
        default: "3.12"
        required: false
        type: string
      requirements-files:
        default: requirements.txt
        description: Space-separated list of requirements files if using pip
        required: false
        type: string

    secrets:
      GOOGLE_AUTHENTICATION_CREDENTIALS_JSON:
        description: "Google Cloud Platform service-agent JSON credentials for accessing our Artifact Repository and installing private packages."
        required: false

jobs:
  black:
    if: inputs.black
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          # Don't need our dependency packages cache here, we're just installing one linter tool.
          python-version: ${{ inputs.python-version }}
      - id: get_version
        uses: scene-connect/actions/python-package-manager/get_package_version@v5
        with:
          package: black
          group: develop
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
      - uses: psf/black@stable
        with:
          version: ${{ steps.get_version.outputs.version }}

  django-upgrade:
    if: inputs.django-upgrade
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          # Don't need our dependency packages cache here, we're just installing one linter tool.
          python-version: ${{ inputs.python-version }}
      # Always use the latest version of django-upgrade, the point is to prepare for upgrades.
      - run: pip install django-upgrade
      - name: Run django-upgrade
        run: git ls-files -- '*.py' | xargs django-upgrade --target-version ${{ inputs.django-version }}

  flake8:
    if: inputs.flake8
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          # Don't need our dependency packages cache here, we're just installation one linter tool.
          python-version: ${{ inputs.python-version }}
      - id: get_version
        uses: scene-connect/actions/python-package-manager/get_package_version@v5
        with:
          package: flake8
          group: develop
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
      - run: python -m pip install flake8==${{ steps.get_version.outputs.version }}
      - name: Run flake8
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: flake8
          run: python -m flake8

  isort:
    if: inputs.isort
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Authenticate with Google Cloud
        env:
          GOOGLE_AUTHENTICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
        if: ${{ env.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON != '' }}
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
      - name: Install dependencies
        uses: scene-connect/actions/python-package-manager/install-dependencies@v5
        with:
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
          system-dependencies: ${{ inputs.system-dependencies }}
      - name: Run isort
        uses: scene-connect/actions/python-package-manager/run-command@v5
        with:
          command: python -m isort --check-only --diff .
          package-manager: ${{ inputs.package-manager }}

  mypy:
    if: inputs.mypy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Authenticate with Google Cloud
        env:
          GOOGLE_AUTHENTICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
        if: ${{ env.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON != '' }}
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
      - name: Install dependencies
        uses: scene-connect/actions/python-package-manager/install-dependencies@v5
        with:
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
          system-dependencies: ${{ inputs.system-dependencies }}
      - name: Set up environment
        if: ${{ inputs.mypy-dot-env }}
        run: cp ${{ inputs.mypy-dot-env }} .env
      - name: Load mypy cache
        id: mypy-cache
        uses: actions/cache@v4
        with:
          path: .mypy_cache
          key: mypy-${{ runner.os }}
      - name: Set problem matcher
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          action: add
      - name: Run mypy
        uses: scene-connect/actions/python-package-manager/run-command@v5
        with:
          command: python -m mypy --show-column-numbers
          package-manager: ${{ inputs.package-manager }}

  pyright:
    if: inputs.pyright
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Authenticate with Google Cloud
        env:
          GOOGLE_AUTHENTICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
        if: ${{ env.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON != '' }}
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_AUTHENTICATION_CREDENTIALS_JSON }}
      - name: Install dependencies
        uses: scene-connect/actions/python-package-manager/install-dependencies@v5
        with:
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
          system-dependencies: ${{ inputs.system-dependencies }}
      - name: Run pyright
        uses: scene-connect/actions/python-package-manager/run-command@v5
        with:
          command: python -m pyright
          package-manager: ${{ inputs.package-manager }}

  pyupgrade:
    if: inputs.pyupgrade
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          # Don't need our dependency packages cache here, we're just installing one linter tool.
          python-version: ${{ inputs.python-version }}
      # Always use the latest version of pyupgrade, the point is to prepare for upgrades.
      - run: pip install pyupgrade
      - name: Run pyupgrade
        run: git ls-files -- '*.py' | xargs pyupgrade --py`echo ${{ inputs.python-version }} | tr -d .`-plus

  reorder-python-imports:
    if: inputs.reorder-python-imports
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          # Don't need our dependency packages cache here, we're just installing one linter tool.
          python-version: ${{ inputs.python-version }}
      - id: get_version
        uses: scene-connect/actions/python-package-manager/get_package_version@v5
        with:
          package: reorder-python-imports
          group: develop
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
      - run: pip install reorder-python-imports==${{ steps.get_version.outputs.version }}
      - name: Run reorder-python-imports
        run: git ls-files -- '*.py' | xargs reorder-python-imports --py`echo ${{ inputs.python-version }} | tr -d .`-plus

  ruff:
    if: inputs.ruff
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - id: get_version
        uses: scene-connect/actions/python-package-manager/get_package_version@v5
        with:
          package: ruff
          group: develop
          package-manager: ${{ inputs.package-manager }}
          python-version: ${{ inputs.python-version }}
          requirements-files: ${{ inputs.requirements-files }}
      - uses: chartboost/ruff-action@v1
        with:
          version: ${{ steps.get_version.outputs.version }}
